<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Timereg</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/timereg/entershifts/">Enter Monthly Report</a></li>
            <li><a href="/timereg/listreports/">Show Reports</a></li>
            {% if user.is_authenticated %}     
                <li><a href="/timereg/logout/">Log out</a></li>
            {% else %}
                <li><a href="/timereg/login/">Log in</a></li>
            {% endif %}
          </ul>
        </div>
    </div>
</nav>