{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'timereg/style.css' %}" />
<!-- Latest compiled and minified CSS 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
-->
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


<h1> Enter your shifts for month {{today.month}} </h1>
<form action="{% url 'timereg:addreport' %}" method="post">
    {% csrf_token %}
    <input name="year" value="{{today.year}}">
    <input name="month" value="{{today.month}}">
    <input name="user" value="1">
    <table>
    <tr>
    <th> Shift starting on day: </th>
    {% for defshift in defaultshift_list %}
        <th>{{defshift.name}}</th>
    {% endfor %}
    </tr>
    {% for day in monthdays %}
        {% if day.month = today.month %}
            <tr>
                <td> {{ day }} </td>
                    {% for defshift in defaultshift_list %}
                        <td class="radio"><input type="radio" name="{{day.toordinal}}" value="{{defshift.pk}}"/></td>
                    {% endfor %}

            </tr>
        {% endif %}
    {% endfor %}
    </table>
    <input type="submit" value="Skicka" />
</form>
    