{% extends 'timereg/base.html' %}


{% block title %}Enter Shifts{% endblock %}

{% block body_block %}
<script>
function autoFill(day, start_time, end_time) {
    document.getElementById(day+"-start_time").value = start_time
    document.getElementById(day+"-end_time").value = end_time
}
</script>
<h1> Enter your shifts for month {{month}} </h1>


<form action="{% url 'timereg:entershifts' %}" method="post">
    
    {% csrf_token %}

    <input name="month" type="date">
    <input type="submit" value="Select month" />
</form>


<form action="{% url 'timereg:addreport' %}" method="post">
    <input name="month" value="{{month}}" type="hidden">
    <input name="year" value="{{year}}" type="hidden">
    {% csrf_token %}
    <table class="table">
    <tr>
    <th> Shift starting on day: </th>
    {% for defshift in defaultshift_list %}
        <th>{{defshift.name}} <br>{{defshift.start_time|date:"H:i"}} - {{defshift.end_time|date:"H:i"}}</th>
    {% endfor %}
    </tr>
    
    {% for day,weekday in monthdays %}
            
            <tr>
                <td> {{ day|date:"D d M Y" }} </td>
                    
                    {% for defshift in defaultshift_list %}
                    <td align="center">
                        {% if weekday in defshift.possible_days.all %}
                          <input type="button" onclick="autoFill('{{day.toordinal}}','{{defshift.start_time|date:"H:i"}}', '{{defshift.end_time|date:"H:i"}}')" value="Fill"/>
                        {% endif %}
                    </td>
                    {% endfor %}
                    
                    <td> <input id="{{day.toordinal}}-start_time" class="{{day.toordinal}}" type="time" name="{{day.toordinal}}-start_time"/></td>
                    <td> <input id="{{day.toordinal}}-end_time" class="{{day.toordinal}}" type="time" name="{{day.toordinal}}-end_time"/></td>

            </tr>
    {% endfor %}
    </table>
    
    <input type="submit" value="Skicka" />
</form>
{% endblock %}