{% extends 'base.html' %}


{% block title %}Enter Shifts{% endblock %}

{% block content %}
<script type="text/javascript">

function autoFill(day, start_time, end_time) {
    document.getElementById(day+"-start_time").value = start_time
    document.getElementById(day+"-end_time").value = end_time
}



$(function() {
    $('.date-picker').datepicker( {
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        gotoCurrent: true,
        defaultDate: null,
        dateFormat: 'MM yy',
        onChangeMonthYear: function(year, month, inst) { 
            console.log(year + " " + month)
            $(this).datepicker('setDate', new Date(year, month-1, 1));
            $.get('/timereg/getmonthentry/', {month: month, year:year}, function(data){
               $('#entershiftform').html(data);
               });
        }
    });
    $('.date-picker').datepicker('setDate', new Date())
});
</script>
<style>
.ui-datepicker-calendar {
    display: none;
    }
</style>
<input name="month" class="date-picker">
<div id="entershiftform">
</div>
{% endblock %}