{% if shift_list %}
    <table>
    {% for shiftfragment in shift_list %}
        <tr>
        <td>{{ shiftfragment.start_time }}</td>
        <td>{{ shiftfragment.end_time }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No shifts registrered.</p>
{% endif %}

{% if ob_sums %}
    <table>
    {% for obl,td in ob_sums.items %}
    
        <tr>
        <td>{{ obl.name }}</td>
        <td>{{ obl.modification }}</td>
        <td>{{ td }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No shifts registrered.</p>
{% endif %}