{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'timereg/style.css' %}" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<h1> Monthly report for {{ user.username }} </h1>
<h2> Shifts </h2>
{% if shift_list %}
    <table>
    <tr>
    <th>Start time</th>
    <th>End time</th>
    <th>Length</th>
    </tr>
    {% for shiftfragment in shift_list %}
        <tr>
        <td>{{ shiftfragment.start_time }}</td>
        <td>{{ shiftfragment.end_time }}</td>
        <td>{{ shiftfragment.length }} hrs </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No shifts registrered.</p>
{% endif %}
<br><br>


<h2> Amount worked </h2>
{% if ob_sums %}
    <table>
    
    <tr>
    <th>OB Level</th>
    <th>Modification amount</th>
    <th>Length</th>
    </tr>
    {% for obl,total_time in ob_sums.items   %}
    
        <tr>
        <td>{{ obl.name }}</td>
        <td>{{ obl.modification }}</td> 
        <td>{{total_time.0 }} hours, {{total_time.1}} minutes and {{total_time.2}} seconds</td>
        </tr>
    {% endfor %}
        <tr>
        <td> <b>Total</b> </td>
        <td></td>
        <td>{{total_time.0 }} hours, {{total_time.1}} minutes and {{total_time.2}} seconds</td>
    
    </table>
{% else %}
    <p>No shifts registrered.</p>
{% endif %}

