{% extends 'base.html' %}

{% block title %}Show Report{% endblock %}

{% block content %}
<h1> Monthly report for {{ user.username }} </h1>
<h2> Shifts </h2>
{% if shift_list %}
    <table class="table">
    <tr>
    <th>Start time</th>
    <th>End time</th>
    <th>Length</th>
    {% for obl in oblevels %}
        <th> {{ obl.name }}</th>
    {% endfor %}
    </tr>
    {% for shift, ob_times in shift_list %}
        <tr>
        <td class="col-md-3">{{ shift.start_time }}</td>
        <td class="col-md-3">{{ shift.end_time }}</td>
        <td class="col-md-3">{{ shift.length }} hrs </td>
        {% for obl, time in ob_times.items %}
            <th> {{ time }}</th>
        {% endfor %}
        </tr>
    {% endfor %}
    <tr>
        <td colspan="2">Total</td>
        
        <td>{{total_time.0 }} hours, {{total_time.1}} minutes and {{total_time.2}} seconds</td>
        {% for obl, time_money in ob_sums.items   %}
        <td>{{time_money.0.0 }} hours   </td>
            
        
        {% endfor %}
    </tr>
    </table>
{% else %}
    <p>No shifts registrered.</p>
{% endif %}

<h2> Amount worked </h2>
{% if ob_sums %}
    <table class="table">
    
        <tr>
            <th class="col-md-3">OB Level</th>
            <th class="col-md-3">Length</th>
            <th class="col-md-3">Modification amount</th>
            <th class="col-md-3">Moneyz</th>
        </tr>
    {% for obl, time_money in ob_sums.items   %}
    
        <tr>
            <td>{{ obl.name }}</td>
            <td>{{time_money.0.0 }} hours, {{time_money.0.1}} minutes and {{time_money.0.2}} seconds</td>
            <td>{{ obl.modification }}</td> 
            <td>{{ time_money.1 }} kr </td>
        </tr>
    {% endfor %}
        <tr>
            <td> <b>Total</b></td>
            <td>{{total_time.0 }} hours, {{total_time.1}} minutes and {{total_time.2}} seconds</td>
            <td> </td>
            <td></td>
        </tr>
            
        <tr>
            <td></td><td></td><td></td>
            <td> {{ total_moneyz }} kr</td>
        </tr>
        
        <tr>
            <td></td><td></td><td></td>
            <td> {{ total_total_moneyz }} kr</td>
        </tr>
    </table>
{% else %}
    <p>No shifts registrered.</p>
{% endif %}

{% endblock %}